/* line 15, ../sass/mystyles.scss */
.clearfix::after {
  content: ":)";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

/* line 23, ../sass/mystyles.scss */
.clearboth {
  clear: both;
}

/* line 28, ../sass/mystyles.scss */
html,
body {
  font-size: 100%;
  background-color: #071c22;
}

/* line 33, ../sass/mystyles.scss */
body {
  z-index: -1000;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 46, ../sass/mystyles.scss */
p {
  color: #9ea8b3;
}

/* line 50, ../sass/mystyles.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 54, ../sass/mystyles.scss */
.topBand a, #navBand a {
  color: white;
}

/* line 58, ../sass/mystyles.scss */
.spacer {
  height: 20px;
}

/* line 62, ../sass/mystyles.scss */
h6 a {
  font-weight: bold;
  color: white;
}

/* line 69, ../sass/mystyles.scss */
.topBand {
  background-color: #363636;
  padding: 20px 0;
}
/* line 72, ../sass/mystyles.scss */
.topBand li {
  padding-bottom: 0;
}
/* line 75, ../sass/mystyles.scss */
.topBand h3 {
  color: #1b75ba;
}

/* line 80, ../sass/mystyles.scss */
.logo {
  max-width: 250px;
}

/* line 88, ../sass/mystyles.scss */
.socialIcon {
  width: 60px;
  height: 40px;
}

/* line 93, ../sass/mystyles.scss */
#phoneNumber {
  color: #1b75ba;
  margin: 0;
}
/* line 96, ../sass/mystyles.scss */
#phoneNumber a {
  color: #1b75ba;
}

/* line 101, ../sass/mystyles.scss */
#navBand {
  background-color: #1b75ba;
  width: 100%;
}

/* line 106, ../sass/mystyles.scss */
.toggleMenu {
  padding: 10px 15px;
}
/* line 108, ../sass/mystyles.scss */
.toggleMenu a {
  padding: 10px 15px;
}
/* line 110, ../sass/mystyles.scss */
.toggleMenu a:hover, .toggleMenu a:visited, .toggleMenu a:active {
  padding: 10px 15px;
}

/* line 118, ../sass/mystyles.scss */
#cloudBackground {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 1450px;
  overflow: hidden;
  background: #0f435b url("../images/moon.png") no-repeat right 20px;
  background-size: auto 675px;
  top: 0;
}

/* line 129, ../sass/mystyles.scss */
#clouds01 {
  position: absolute;
  z-index: 5;
  background: url("../images/cloud1.png") no-repeat;
  top: 0;
  width: 1000px;
  height: 450px;
  -webkit-animation: clouds01_scroll linear 60s infinite;
  -moz-animation: clouds01_scroll linear 60s infinite;
  -ms-animation: clouds01_scroll linear 60s infinite;
  -o-animation: clouds01_scroll linear 60s infinite;
  animation: clouds01_scroll linear 60s infinite;
}

@-webkit-keyframes clouds01_scroll {
  /* line 143, ../sass/mystyles.scss */
  from {
    left: -1000px;
  }

  /* line 143, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-moz-keyframes clouds01_scroll {
  /* line 144, ../sass/mystyles.scss */
  from {
    left: -1000px;
  }

  /* line 144, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-ms-keyframes clouds01_scroll {
  /* line 145, ../sass/mystyles.scss */
  from {
    left: -1000px;
  }

  /* line 145, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-o-keyframes clouds01_scroll {
  /* line 146, ../sass/mystyles.scss */
  from {
    left: -1000px;
  }

  /* line 146, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@keyframes clouds01_scroll {
  /* line 147, ../sass/mystyles.scss */
  from {
    left: -1000px;
  }

  /* line 147, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

/* line 149, ../sass/mystyles.scss */
#clouds02 {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud2.png") no-repeat;
  top: 0;
  width: 1000px;
  height: 450px;
  -webkit-animation: clouds02_scroll linear 90s infinite;
  -moz-animation: clouds02_scroll linear 90s infinite;
  -ms-animation: clouds02_scroll linear 90s infinite;
  -o-animation: clouds02_scroll linear 90s infinite;
  animation: clouds02_scroll linear 90s infinite;
}

@-webkit-keyframes clouds02_scroll {
  /* line 163, ../sass/mystyles.scss */
  from {
    left: -2000px;
  }

  /* line 163, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-moz-keyframes clouds02_scroll {
  /* line 164, ../sass/mystyles.scss */
  from {
    left: -2000px;
  }

  /* line 164, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-ms-keyframes clouds02_scroll {
  /* line 165, ../sass/mystyles.scss */
  from {
    left: -2000px;
  }

  /* line 165, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-o-keyframes clouds02_scroll {
  /* line 166, ../sass/mystyles.scss */
  from {
    left: -2000px;
  }

  /* line 166, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@keyframes clouds02_scroll {
  /* line 167, ../sass/mystyles.scss */
  from {
    left: -2000px;
  }

  /* line 167, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

/* line 169, ../sass/mystyles.scss */
#clouds03 {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud3.png") no-repeat;
  top: 0;
  width: 1000px;
  height: 450px;
  -webkit-animation: clouds03_scroll linear 120s infinite;
  -moz-animation: clouds03_scroll linear 120s infinite;
  -ms-animation: clouds03_scroll linear 120s infinite;
  -o-animation: clouds03_scroll linear 120s infinite;
  animation: clouds03_scroll linear 120s infinite;
}

@-webkit-keyframes clouds03_scroll {
  /* line 183, ../sass/mystyles.scss */
  from {
    left: -3000px;
  }

  /* line 183, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-moz-keyframes clouds03_scroll {
  /* line 184, ../sass/mystyles.scss */
  from {
    left: -3000px;
  }

  /* line 184, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-ms-keyframes clouds03_scroll {
  /* line 185, ../sass/mystyles.scss */
  from {
    left: -3000px;
  }

  /* line 185, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@-o-keyframes clouds03_scroll {
  /* line 186, ../sass/mystyles.scss */
  from {
    left: -3000px;
  }

  /* line 186, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

@keyframes clouds03_scroll {
  /* line 187, ../sass/mystyles.scss */
  from {
    left: -3000px;
  }

  /* line 187, ../sass/mystyles.scss */
  to {
    left: 100%;
  }
}

/* line 191, ../sass/mystyles.scss */
#grassBand {
  background: url("../images/grass.png") repeat-x right bottom;
  background-size: auto 150px;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 10;
}

/* line 205, ../sass/mystyles.scss */
.orbit-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: transparent;
}
/* line 210, ../sass/mystyles.scss */
.orbit-container .slider {
  height: 250px;
}
/* line 213, ../sass/mystyles.scss */
.orbit-container .slider p {
  padding: 20px 0;
  color: white;
}
/* line 217, ../sass/mystyles.scss */
.orbit-container .slider .button {
  position: absolute;
  bottom: 10px;
  left: 40px;
}

/* line 227, ../sass/mystyles.scss */
#mainBand {
  position: relative;
  background-color: #071c22;
  width: 100%;
  padding: 20px 0;
}

/* line 235, ../sass/mystyles.scss */
#ourDifference {
  background: #092833;
  color: white;
  padding-top: 5px;
  margin-bottom: 20px;
}
/* line 241, ../sass/mystyles.scss */
#ourDifference strong {
  color: #1b75ba;
}
/* line 244, ../sass/mystyles.scss */
#ourDifference p {
  margin-bottom: 10px;
}

/* line 249, ../sass/mystyles.scss */
.icon {
  width: auto;
  height: 18px;
  margin: -3px 10px 0 0;
}

/* line 256, ../sass/mystyles.scss */
hr.embossed {
  border-width: 1px 0px;
  border-color: rgba(0, 0, 0, 0.55) transparent rgba(255, 255, 255, 0.07) transparent;
}

/* line 263, ../sass/mystyles.scss */
#whatsNew {
  color: #9ea8b3;
}
/* line 265, ../sass/mystyles.scss */
#whatsNew ul {
  list-style: none;
}

/* line 276, ../sass/mystyles.scss */
.bubble {
  position: relative;
  padding: 10px;
  background: #092833;
}

/* line 283, ../sass/mystyles.scss */
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 10px 0;
  border-color: #092833 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 23px;
}

/* line 296, ../sass/mystyles.scss */
.testimonial-name {
  color: white;
  line-height: 1em;
}

/* line 301, ../sass/mystyles.scss */
.testimonial-company {
  font-size: .75em;
  color: white;
}

/* line 308, ../sass/mystyles.scss */
#portMenu {
  margin: 0 0 20px 0;
}
/* line 310, ../sass/mystyles.scss */
#portMenu li {
  display: inline;
  padding: 0 5px;
}

/* line 318, ../sass/mystyles.scss */
#portList li h6 {
  font-size: 12px;
  font-weight: bold;
}
/* line 322, ../sass/mystyles.scss */
#portList li img {
  max-height: 200px;
  width: auto;
}

/* line 328, ../sass/mystyles.scss */
.portPiece {
  float: left;
  background-color: black;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

/* line 340, ../sass/mystyles.scss */
footer {
  background-color: #092833;
  padding: 20px 0;
  width: 100%;
  /*h1, h2, h3, h4, h5, h6 {
	color: white;
  }*/
}

/* line 352, ../sass/mystyles.scss */
aside {
  background-color: #071c22;
}

/* Large screens */
@media only screen and (min-width: 940px) {
  /* line 361, ../sass/mystyles.scss */
  .mobilesOnly {
    display: none;
  }

  /* line 362, ../sass/mystyles.scss */
  .desktopOnly {
    display: inline-block;
  }

  /* line 364, ../sass/mystyles.scss */
  #cloudBackground {
    background-position: 100% 20px;
  }
}
/* Medium screens */
@media only screen and (max-width: 939px) and (min-width: 768px) {
  /* line 373, ../sass/mystyles.scss */
  .mobilesOnly {
    display: none;
  }

  /* line 374, ../sass/mystyles.scss */
  .desktopOnly {
    display: inline-block;
  }

  /* line 376, ../sass/mystyles.scss */
  #cloudBackground {
    background-position: 100% 20px;
  }
}
/* Small screens */
@media only screen and (max-width: 767px) {
  /* line 385, ../sass/mystyles.scss */
  .mobilesOnly {
    display: inline-block;
  }

  /* line 386, ../sass/mystyles.scss */
  .desktopOnly {
    display: none;
  }

  /* line 388, ../sass/mystyles.scss */
  #cloudBackground {
    background-position: 100% 20px;
  }
}
