/* line 13, ../sass/responsive-nav.scss */
body, nav, ul, li, a {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/responsive-nav.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 22, ../sass/responsive-nav.scss */
a {
  text-decoration: none;
}

/* line 26, ../sass/responsive-nav.scss */
.toggleMenu {
  display: none;
  background: #1b75ba;
  padding: 12px 15px 5px;
  color: white;
}
/* line 31, ../sass/responsive-nav.scss */
.toggleMenu a {
  display: none;
  background: #1b75ba;
  padding: 12px 15px 5px;
  color: white;
}
/* line 36, ../sass/responsive-nav.scss */
.toggleMenu a:hover, .toggleMenu a:visited, .toggleMenu a:active {
  display: none;
  background: #1b75ba;
  padding: 12px 15px 5px;
  color: white;
}

/* line 45, ../sass/responsive-nav.scss */
.nav {
  list-style: none;
  *zoom: 1;
  background: #1b75ba;
  margin-left: 0;
}
/* line 50, ../sass/responsive-nav.scss */
.nav .current_page_item, .nav a:hover {
  background: #1e83d0;
}
/* line 53, ../sass/responsive-nav.scss */
.nav:before {
  content: " ";
  display: table;
}
/* line 57, ../sass/responsive-nav.scss */
.nav:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 62, ../sass/responsive-nav.scss */
.nav ul {
  list-style: none;
  width: 9em;
}
/* line 66, ../sass/responsive-nav.scss */
.nav a {
  padding: 10px 15px;
  color: white;
}
/* line 69, ../sass/responsive-nav.scss */
.nav a:hover, .nav a:visited, .nav a:active {
  padding: 10px 15px;
  color: white;
}
/* line 74, ../sass/responsive-nav.scss */
.nav li {
  position: relative;
}
/* line 76, ../sass/responsive-nav.scss */
.nav li ul {
  position: absolute;
  left: -9999px;
  margin: 0;
}
/* line 82, ../sass/responsive-nav.scss */
.nav li li.hover ul {
  left: 100%;
  top: 0;
  margin: 0;
}
/* line 87, ../sass/responsive-nav.scss */
.nav li li a {
  display: block;
  background: #15598d;
  position: relative;
  z-index: 100;
  border-top: 1px solid #0e3d61;
}
/* line 94, ../sass/responsive-nav.scss */
.nav li li li a {
  background: #114b77;
  z-index: 200;
  border-top: 1px solid #1b75ba;
}
/* line 101, ../sass/responsive-nav.scss */
.nav li li:first-child a {
  border-top: none;
}
/* line 106, ../sass/responsive-nav.scss */
.nav > li {
  float: left;
  /*border-top: 1px solid gray;*/
}
/* line 110, ../sass/responsive-nav.scss */
.nav > li > .parent {
  background-image: url("../images/downArrow.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  padding: 10px 30px 10px 15px;
}
/* line 116, ../sass/responsive-nav.scss */
.nav > li > a {
  display: block;
}
/* line 121, ../sass/responsive-nav.scss */
.nav > li.hover > ul {
  left: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* line 128, ../sass/responsive-nav.scss */
  .active {
    display: block;
  }

  /* line 132, ../sass/responsive-nav.scss */
  .nav > li {
    float: none;
    border-top: 1px solid #114b77;
  }
  /* line 135, ../sass/responsive-nav.scss */
  .nav > li > .parent {
    background-position: 95% 50%;
  }
  /* line 139, ../sass/responsive-nav.scss */
  .nav li li .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  /* line 144, ../sass/responsive-nav.scss */
  .nav ul {
    display: block;
    width: 100%;
  }
  /* line 148, ../sass/responsive-nav.scss */
  .nav > li.hover > ul, .nav li li.hover ul {
    position: static;
  }
}
