body, nav, ul, li, a {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

.toggleMenu {
  display: none;
  background: #1b75ba;
  padding: 12px 15px 5px;
  color: white; }
  .toggleMenu a {
    display: none;
    background: #1b75ba;
    padding: 12px 15px 5px;
    color: white; }
    .toggleMenu a:hover, .toggleMenu a:visited, .toggleMenu a:active {
      display: none;
      background: #1b75ba;
      padding: 12px 15px 5px;
      color: white; }

.nav {
  list-style: none;
  *zoom: 1;
  background: #1b75ba;
  margin: 0; }
  .nav .current_page_item, .nav a:hover {
    background: #1e83d0; }
  .nav:before {
    content: " ";
    display: table; }
  .nav:after {
    content: " ";
    display: table;
    clear: both; }
  .nav ul {
    list-style: none;
    width: 9em; }
  .nav a {
    padding: 10px 15px;
    color: white; }
    .nav a:hover, .nav a:visited, .nav a:active {
      padding: 10px 15px;
      color: white; }
  .nav li {
    position: relative; }
    .nav li ul {
      position: absolute;
      left: -9999px;
      margin: 0; }
    .nav li li.hover ul {
      left: 100%;
      top: 0;
      margin: 0; }
    .nav li li a {
      display: block;
      background: #15598d;
      position: relative;
      z-index: 100;
      border-top: 1px solid #0e3d61; }
    .nav li li li a {
      background: #114b77;
      z-index: 200;
      border-top: 1px solid #1b75ba; }
    .nav li li:first-child a {
      border-top: none; }
  .nav > li {
    float: left;
    /*border-top: 1px solid gray;*/ }
    .nav > li > .parent {
      background-image: url("../images/downArrow.png");
      background-repeat: no-repeat;
      background-position: 90% 50%;
      padding: 10px 30px 10px 15px; }
    .nav > li > a {
      display: block; }
  .nav > li.hover > ul {
    left: 0;
    margin: 0; }

@media screen and (max-width: 768px) {
  .active {
    display: block; }

  .nav > li {
    float: none;
    border-top: 1px solid #114b77; }
    .nav > li > .parent {
      background-position: 95% 50%; }
  .nav li li .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .nav ul {
    display: block;
    width: 100%; }
  .nav > li.hover > ul, .nav li li.hover ul {
    position: static; } }
